<form ng-submit="vm.addOwner(vm.newOwner)">
    <input type="text" placeholder="name" ng-model="vm.newOwner.name">
        
    <input type="submit">
</form>

<table>
        <thead>
            <tr>
                <th>Owner name</th>
                <th>Number of pets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="owner in vm.owners.list">
                <td>{{owner.name}}</td>
                <td>{{owner.count}}</td>
                <td><button>delete</button></td>
            </tr>
        </tbody>

<div >
    {{owner.name}}
</div>
{{vm.message}}
