<form ng-submit="vm.addPet(vm.newPet)">
    Add a new pet here!<br>
    Owner name<br>
    <select ng-model="vm.newPet.owner_id">
        <option ng-repeat="thing in vm.owners.list" ng-value="thing.id">{{thing.name}}</option>
    </select>
    <br>
    Tell us about your pet<br>
    <input type="text" placeholder="name" ng-model="vm.newPet.name">
    <input type="text" placeholder="breed" ng-model="vm.newPet.breed">
    <input type="text" placeholder="color" ng-model="vm.newPet.color">
    <br>
    Would you like to check your pet in now?<br>
    <select ng-model="vm.newPet.checked_in">
        <option value="true">yes</option>
        <option value="false">no</option>
    </select>
    <input type="submit">
</form>

<table>
    <thead>
        <tr>
            <th>Owner name</th>
            <th>Pet name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Checked in</th>
            <th>delete</th>
            <th>check in</th>
            <th>check out</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pet in vm.pets.list">
            <td>{{pet.owner_name}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.color}}</td>
            <td ng-show="!pet.checked_in">no</td>
            <td ng-show="pet.checked_in">{{pet.date|date:mm-dd-yyyy}}</td>
            <td>
                <button ng-click="vm.deletePet(pet)">Delete</button>
            </td>
            <td>
                <input ng-hide="pet.checked_in" ng-model="pet.checked_in" type="radio" value="true" ng-click="vm.updatePet(pet)">
            </td>
            <td>
                <input ng-hide="!pet.checked_in" ng-model="pet.checked_in" type="radio" value="false" ng-click="vm.updatePet(pet)">
            </td>
        </tr>
    </tbody>

    </div>

    <!-- <pre>{{vm | json}}</pre> -->